
/* Stile e dimensioni della tabella */
table {
    border: 1px solid #263238;
    width: 50%;
    margin: 20px auto;
    border-collapse: collapse;
}

/* Stile per il titolo della tabella*/
caption {
    color: #263238;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}

/* Stile per l'header */
thead th {
    background-color: #455a64;
    color: white;
    font-weight: 700;
}

/* Colori delle righe alternate nel corpo della tabella*/
tbody tr:nth-child(odd) {
    background-color: #eceff1;
}

tbody tr:nth-child(even) {
    background-color: #b0bec5;
}

/* Stile per il tfoot della tabella*/
tfoot td {
    font-weight: 800;
    background-color: #78909c;
}

/*Stile per la colonna delle entrate*/
tbody td:nth-child(2) {
    color: #003300;
    text-align: right;
}

/*Stile per la colonna delle uscite*/
tbody td:nth-child(3) {
    color: #7f0000;
    text-align: right;
}

/*Valori numerici allineati a destra*/
td:nth-child(2), td:nth-child(3) {
    text-align: right;
}